<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
<h2>{{id.name}}</h2>
<h2>{{id.email}}</h2>
<h2>{{id.phone}}</h2>
<hr>
<br>
<h2>Summary</h2>
<h5>{{id.summary}}</h5>
<h2>Skills</h2>
<h2>{{id.skils}}</h2>
<h2>Education</h2>
<ul>
    <li>
        {{id.school}}
    </li>
    <li>
        {{id.university}}
    </li>
    <li>
        {{id.degree}}
    </li>
</ul>
</body>
</html>

